body {
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: moveStar 50s linear infinite;
}

@keyframes moveStar {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(100vh) translateX(100vw);
  }
}

:root {
  --root-font-size: 16px;
}

html {
  font-size: var(--root-font-size);
}

html, body, #root {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}