@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Space Game';
    src: url('/fonts/SpaceGame-ywxX2.ttf') format('truetype');
}

.w-30p {
    width: 30%;
}

.h-90p {
    height: 90%;
}